body,html
{
    overflow-x: hidden;
}
a
{
    text-decoration: none;
}
.navbar-brand img
{
    width: 100px;
}
section:not(#footer):not(#board)
{
    margin-bottom: 40px;
}
section:not(#head)
{
    padding: 10px 40px;
}
.sub-headings
{
    width: max-content;
    margin-bottom: 30px;

}
.footer_subheading
{
    width: max-content;
    margin-bottom: 30px;
}
#footer p
{
    font-size: 14px;
}
.blocks
{
    display: flex;
    justify-content: center;
   
    
    
}
.blocks div
{
    width: 30vw;
    border: 1px solid grey;
    border-radius: 3px;
    padding: 20px 5px;
    margin-left: 10px;
    margin-right: 10px;
    
}

.products_block a
{
    text-decoration: none;
    margin-left: 6px;
}
.blocks hr
{
    margin: 5px;

   
}
.blocks_heading
{
    margin-left: 6px;
}
#aboutus
{
    height: 90vh;
}
#aboutus p
{
    color: #595260;
}
#aboutus img
{
    width: 90%;
    border-radius: 5px;
}
.underline
{
   
    color: blue;
    width: 100%;
    height: 8px !important;
    margin-top: 5px;
}

#footer
{
    position: relative;
    bottom: 0;
    background-color: #D5D5D5;
   
}
.google_map
{
    width: 100%;
    height: 20vh;
    background-color: #716F81;
}
.google_map p
{
    color: white;
    text-align: center;
}
.footer_hr
{
    width: 100%;
    height: 8px !important;
    color:rgb(101, 101, 179);
    margin: 0;
    
}
#footer_credits{
    background-image:linear-gradient(200deg,blue,cyan);
    height: 60px;
    width: 100%;
    color: #fff;
    font-weight: 500;
    text-align: center;
}
@media (min-width:320px) and (max-width:600px)
{
    .blocks div
    {
        width: 80vw;
    }
    #aboutus
    {
        height: max-content;
    }
    #aboutus img{
        margin-top: 30px;
    }
    .footer_subheading
    {
        margin-top: 20px;
    }
    #footer_credits
    {
      height: max-content;
    }
    .blocks div{

        margin-bottom: 20px;
    }
    #section:not(#footer)
    {
        margin-bottom: 20px;
    }
}